<section>
    <div class="card">
        <div class="card-header">
            <h4>Últimas perguntas</h4>
        </div>
        <div class="card-body">
            <ul>
                {% for pergunta in ultimas_perguntas %}
                    <li>
                        <a href="{% url 'perguntas:responder' pergunta.id %}">
                            {{ pergunta.titulo }}
                        </a>
                        • {{ pergunta.respostas.count }} respostas.
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>