{% extends "bootstrap/base.html" %}
{% block title %}{{ config.get('TITLE') }}{% endblock %}

{% block navbar %}
<div class="navbar">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">LOGO</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Hello, Bootstrap</h1>

    <div class="jumbotron">
        <ul class="list-group">
            {% for shinobi in shinobis %}
                <li class="list-group-item">{{ shinobi }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}