{% extends 'base.html' %}

{% block title %}Perguntar{% endblock title %}

{% block content %}

    <div class="container">

        <div class="card">
            <div class="card-body">
                <h1>Faça uma pergunta</h1>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
        
                        {% if field.help_text %}
                            <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}
        
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    <input type="submit" value="Perguntar" class="btn btn-primary my-2">
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}