{% extends 'base.html' %}

{% block title %}Perguntas{% endblock title %}

{% block content %}

    <div class="container">
        <h1>Perguntas</h1>
        <p>Você pode criar uma nova pergunta, ou responder uma das existentes.</p>
        <a href="{% url 'perguntas:create' %}" class="btn btn-primary my-2">Fazer uma pergunta</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Autor</th>
                    <th>Pergunta</th>
                    <th>Data e hora</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for pergunta in perguntas %}
                    <tr>
                        <td>{{ pergunta.nome }}</td>
                        <td>{{ pergunta.titulo }}</td>
                        <td>{{ pergunta.criado_em }}</td>
                        <td>
                            <a href="{% url 'perguntas:responder' pergunta.id %}">Responder</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}