{% extends 'base.html' %}

{% block title %}Perguntas{% endblock title %}

{% block content %}

    <div class="container">
        <h1>Perguntas</h1>
        <a href="{% url 'perguntas:create' %}">Fazer uma pergunta</a>
        <p>Você pode responder uma pergunta se souber a resposta.</p>
        <ul>
            {% for pergunta in perguntas %}
                <li>{{ pergunta }} <strong>{{ pergunta.respostas.count }} respostas.</strong> <a href="{% url 'perguntas:responder' pergunta.id %}">Responder</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}