{% extends 'base.html' %}

{% block title %}Responder{% endblock title %}

{% block content %}

    <div class="container">
        <h2>{{ pergunta }}</h2>

        <hr>
        <h4>Respostas:</h4>
        <ul>
            {% for resposta in pergunta.respostas.all %}
                <li style="margin: 4px 0;">
                    <strong>{{ resposta.nome }} respondeu:</strong> {{ resposta }} <strong>no dia</strong> {{ resposta.criado_em }}
                </li>
            {% empty %}
                <li>Não há respostas ainda.</li>
            {% endfor %}
        </ul>
        <hr>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Responder">
        </form>
    </div>

{% endblock content %}