{% extends 'base.html' %}

{% block title %}Responder{% endblock title %}

{% block content %}

    <div class="container">
        <h2>{{ pergunta }}</h2>
        <p>Pergunta feita em: {{ pergunta.criado_em }}</p>

        <hr>
        <h4>Respostas:</h4>
            {% for resposta in pergunta.respostas.all|dictsortreversed:"id" %}
                <div class="card my-2">
                    <div class="card-body pt-2 pb-0">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0">{{ resposta.nome }}</h5>
                            <p>{{ resposta.criado_em }}</p>
                        </div>
                        <p>{{ resposta|linebreaks }}</p>
                    </div>
                </div>
            {% empty %}
                <p>Não há respostas ainda.</p>
            {% endfor %}
        <hr>

        <h4>Responder:</h4>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}

                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                {% endif %}

                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
            <input type="submit" value="Responder" class="btn btn-primary my-3">
        </form>
    </div>

{% endblock content %}